.checkout-form {
    background-color: #fff;
    /* border: 1px solid #ccc; */
    padding: 20px;
    margin-top: 20px;
    width:50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .checkout-form h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .form-group p {
    font-size: 1rem;
    margin: 0;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
 
  